<div class="col-md-8 col-md-offset-1 faq">
		
				
		<ul>
			<li><h4>What makes Swag Dog Walking Different?</h4>
				<p>We are based in Somerville (MA), and we strive to have a personal relationship with you and your dog, so everyone is comfortable. It's scary to let a stranger care for your pet, we want to put you at ease!</p>
			</li>
				<li><h4>Where do you walk?<h4>
					<p>We walk around the neighborhood, or venture over to the park, whatever you and your dog prefer.</p>
				</li>
				<li>
				<h4>Are You Insured? What about Licensed?<h4>
					<p>Yes, we are fully insured by <%= link_to "Pet Sitters LLC", "www.petsitllc.com" %>, check out their website for more information. We are registered with the city of Somerville. </p>
				</li>
				<li>
				<h4>How many dogs do you walk at one time?<h4>
				
					<p>We don't believe in pack walks. We walk one dog at a time to ensure comfort between walker and dog. Although siblings can be walked together.</p>
				</li>
		</ul>
</div>