<div class="col-md-8 col-md-offset-1">
	<h2> Walking </h2>
	<ul>
		<li>
		<p>15 Minutes: $12</p>
		</li>
		<li>
		<p> 30 Minutes: $17 </p>
		</li>
		<li>
		<p> 45 Minutes: $22 </p>
		</li>
		<li>
			<p> 1 Hour : $28 </p>
		</li>
	</ul>

	<h2> Sleepovers </h2>
	<ul> 
		<li><p> $75 per night in your home <p></li>
		<li><p> This includes all walks, feedings, and attention your dog needs!</p></li>
	</ul>

	<a class="typeform-share link" href="https://ghostwriteio.typeform.com/to/UgtBof" data-mode="1" target="_blank">Schedule a Walk!</a>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>


</div>
