<div class="col-md-6 col-md-offset-1">
	<h2> WALKING </h2>
	<ul>
		<li>
		<p><span>+</span>15 MINUTES : $13</p>
		</li>
		<li>
		<p><span>+</span>30 MINUTES : $17 </p>
		</li>
		<li>
		<p><span>+</span>45 MINUTES : $23 </p>
		</li>
		<li>
			<p><span>+</span>1 HOUR : $29 </p>
		</li>
	</ul>

	<h2> SLEEPOVERS </h2>
	<ul> 
		<li><p> $75 PER NIGHT IN YOUR HOME <p></li>
		<li><p> Includes all walks, feedings, and loving your dog needs!</p></li>
	</ul>

	<h2>OTHER</h2>
	<ul>
		<li>CAT VISITS - $14</li>
	</ul>
	</div>

	<div class="left-services">
	
	<h3>FILL OUT YOUR DOG'S PROFILE <%= link_to "HERE", getstarted_path %><h3>

		<h4> AND </h4>

	<h3><a class="typeform-share link" href="https://ghostwriteio.typeform.com/to/UgtBof" data-mode="1" target="_blank">SCHEDULE A WALK!</a></h3>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
	</div>



