<div id="fullpage">
	<div class="section">
		<div class="welcome">
			
			<div class="container">
				<div class="row" id="icon">
					<div class="col-md-7 col-md-offset-2" id="small-push">
						<%=image_tag "pup.png", :class => "dog" %>
						<%=image_tag "title-dog.png", :class => "title" %>
					</div>

					<div class="col-md-3 col-md-pull-2" id="large-push">
						<div class="btn-group btn-group-vertical" role="group" aria-label="...">
						  <div class="btn-group" role="group">
						    <button type="button" class="btn btn-info">Book A Meet and Greet</button>
						  </div>
						  <div class="btn-group" role="group">
						    <button type="button" class="btn btn-info">Schedule</button>
						  </div>
						  <div class="btn-group" role="group">
						    <button type="button" class="btn btn-info">Learn More</button>
						  </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8 col-md-offset-3" id="slog">
							<h2>SERVING SOMERVILLE AND EAST CAMBRIDGE</h2>
						</div>
					</div>
				 </div>	  
			</div>
		</div>
			
	</div>
   
	
 
    <div class="section">
    	<div class="calendar">
    		<h1>AVAILABILITY</h1>
				<div id="calendar" class="fc fc-ltr fc-unthemed"></div>
		</div>
	</div>

	<div class="section">
		<h1>FAQ</h1>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 faq">
		
				

				<h4>Where do you walk?<h4>
				<h4>Are You Insured<h4>
				<h4>What about licensed?<h4>
				<h4>How many dogs do you walk at one time?<h4>
				</div>
			</div>
		</div>

		<div class="section rates">
			<h1>Services and Rates</h1>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							
						</div>
					</div>
				</div>
			</div>

			<div class="section photos">
			<h1>Photos</h1>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							
						</div>
					</div>
				</div>
			</div>

			<div class="section rates">
			<h1>Contact</h1>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							
						</div>
					</div>
				</div>
			</div>
	


	</div>

	

</div>
