<div id="fullpage">
	<div class="section">
		<div class="welcome">
			<h1>Swag dog Walking</h1>
		</div>
	</div>
   
	
 
    <div class="section">
				<div id="calendar" class="fc fc-ltr fc-unthemed"></div>
	</div>

	<div class="section">Some section</div>
    <div class="section">Some section</div>

</div>
