/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require fullcalendar
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap/theme";

body {
	font-family: "Raleway"; 
}

h1 {
	text-align: center; 
	padding: 20px; 
	color: #3E454C;
}

#calendar {
	width: 78%;
	margin-left: 11%;
}

.fc-widget-content {
	background-color: #FFF; 
}

.welcome {
	background-color: #FFF; 
	height: 650px;
	width: 100%; 
	margin-top: -20px; 
}

.calendar {
	background-color: #FF7F66;
	height: 750px;
	width: 100%; 
	margin-top: -20px; 
}

.faq {
	background-color: #FFF; 
	height: 600px;
	width: 100%;

}

.faq h4 {
	text-decoration: underline
}



.btn-group {
	text-align: center;
	padding-top: 30px; 
}

.btn-group .btn {

	font-size: 1.9em; 
	font-family: "Dosis";

}


.dog {
	width: 50%;
}

#small-push {
	margin-top: 40px; 
}

#large-push {
	margin-top: 100px; 
}

#slog {
	margin-top: 25px; 
	font-family: "Dosis";
	color: #FF7F66; 
}

.title {
	width: 50%;
	padding-top: 20px; 
}

.rates {
	height: 600px;
	width: 100%;
	background-color: #3E454C;
	margin-top: 25px; 
}


.rates h1 {
	color: #FFF;
}

.photos {
	background-color: #FFF; 
	height: 600px;
	width: 100%;
	margin-top: 25px; 
}

#autoUpdate {
	display: block; 
}



