.faq {
	background-color: #FFF; 
	height: 600px;
	width: 100%;

}

.faq p {
	line-height: 1.5em; 
	font-family: 'Raleway';
	font-size: 1.3em; 
}

.faq ul {
	list-style: none;
}

.faq li {
	padding: 10px; 
}