
.rates {
	height: 600px;
	width: 100%;
	background-color: #3E454C;
	margin-top: 25px; 
	color: #FFF; 
}

.rates h1 {
	color: #FFF; 
}


.rates ul {
	list-style: none; 

}

.left-services a {
	color: #FFF;
	text-decoration: underline; 
}

.left-services a:hover {
	color: #FF7F66;
	background-color: #3E454C
}

